<html>
    <head>
        <title>Sbredman's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.youtube.com/watch?v=k2uAajRf0B0">Поздравление с Новым Годом от Вол СБ!</a></h1>
        </div>

        <div>
            <p>Опубликовано: 31.12.2021, 23:59</p>
            <h2><a href="https://www.youtube.com/watch?v=BrOpb5tSpsY">Деки для скейтборда "Мужья х 11/66"</a></h2>
            <p>Гореть идеей и не бояться инвестиций! Большая мечта исполнена, педики!</p>
            <p>Опубликовано 06.11.2021, 12:00</p>
        </div>

        <div>
            <h2><a href="https://www.youtube.com/watch?v=v3s5nRIweaM">Миша, FB и DIY-спот в Питере</a></h2>
            <p>И снова легендарная Sony DCR-VX1000, холодный осенний вечер и необычное место, где пахнет трубами и деревьями... Удивительно, неправда ли?</p>
            <p>Опубликовано 04.11.2021, 12:00</p>
        </div>

        <div>
            <h3><a href="https://www.youtube.com/watch?v=KP4icHlAomg">3 Мушкитёра в любимом сельском скейтпарке в Левашово</a></h2>
            <p>Легендарная Sony DCR-VX1000, Съемки, которые затронули лето и осень, ноль энтузиазма до первого трюка, зато бесконечное множество сразу после.</p>
            <p>Опубликовано 19.10.2021, 12:00</p>
    </body>
</html>